
.displayGame {
    display: flex;
    justify-content: space-between;
}
.cardBox{
    width: 60%;
}
.letterContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.car{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.car img{
    display: block;
    margin: 10px;
}
